body { padding: 50px; }
#content { padding: 30px 15px; }
#table_nav, #form_content h3 { text-align: center; }
#form_content button { margin: 10px; }
#search_box { margin-bottom: 10px; }
#form_content .alert { margin-top: 25px; }
#student-form { margin-top: 15px; }
#text-all { float: right; }
.student-list-message { text-align: center; }

.search-info {
    display: inline;
    font-weight: bold;
}