# Mandatory composer executable, although i use it globally
composer.phar

# Ignore database configuration file
# db.ini

# Ignore broken documentation, dependencies and unfinished tests
docs/*
vendor/*
tests/*

# Ignore bootstrap and jQuery
public/media/bootstrap/*
public/media/javascript/jquery.*

# Ignore design mockups
templates/mockup/*
templates/mockup-alt/*