<?php include_once("header.html") ?>
<div id="form_content">
  <?php if($viewSettings['success']): ?>
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      База данных пополнена на <?= htmlspecialchars($viewSettings['success']) ?> записей.
    </div>
  <?php endif; ?>
  <?php if($viewSettings['error']): ?>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Ошибка:</span>
        Проверьте правильность вводимых данных и попробуйте еще раз.
    </div>
  <?php endif; ?>
  <form method="post">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="count_field">Кол-во записей:</label>
        <input type="number" class="form-control" name="count_field" id="count_field" placeholder="Кол-во записей">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Подтвердить</button>
  </form>
</div>
</body>
</html>
