<?php include_once("header.html") ?>
<div id="form_content">
  <?php if($error): ?>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Ошибка:</span>
        <?php if($error): ?>
            <?php foreach($error as $formError): ?>
                <?= $formError ?> <br>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
  <?php endif; ?>
  <?php if($success): ?>
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      Форма заполнена успешно.
    </div>
  <?php endif; ?>
  <h3>
      <?php if($_COOKIE['auth']): ?>
          Редактирование
      <?php else: ?>
          Добавление
      <?php endif; ?>
      иформации
  </h3>
  <form method="post">
    <input type="hidden" name="csrf_field" value="<?= $csrfToken ?>">
    <input type="hidden" name="id_field" value="<?= $student->id ?>">
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['name']): ?> has-error <?php endif; ?>">
        <label for="name_field">Имя</label>
        <input type="text" class="form-control" name="name_field" id="name_field" placeholder="Имя"
            value="<?php if($student->name): print($student->name); endif; ?>"
            pattern="^[А-ЯЁA-Z]{1}[-а-яёa-zА-ЯЁA-Z]{1,15}$" title="Имя должно быть не длиннее 15 символов." required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['surname']): ?> has-error <?php endif; ?>">
        <label for="surname_field">Фамилия</label>
        <input type="text" class="form-control" name="surname_field" id="surname_field" placeholder="Фамилия"
            value="<?php if($student->surname): print($student->surname); endif; ?>"
            pattern="^[А-ЯЁA-Z]{1}[-а-яёa-zА-ЯЁA-Z]{1,15}$" title="Фамилия должна быть не длиннее 20 символов." required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="gender_field">Пол</label>
        <select class="form-control" name="gender_field" id="gender_field">
          <option value="male" "<?php if($student->gender == 'male'): ?> selected <?php endif; ?>">М</option>
          <option value="female" "<?php if($student->gender == 'female'): ?> selected <?php endif; ?>">Ж</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['group']): ?> has-error <?php endif; ?>">
        <label for="group_field">Группа</label>
        <input type="text" class="form-control" name="sgroup_field" id="group_field" placeholder="Группа"
            value="<?php if($student->sgroup): print($student->sgroup); endif; ?>"
            pattern="^[-А-ЯЁа-яёa-zA-Z0-9]{2,5}$" title="Имя группы должно быть не короче 2 и не длиннее 5 символов." required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['email']): ?> has-error <?php endif; ?>">
        <label for="email_field">Адрес email</label>
        <input type="email" class="form-control" name="email_field" id="email_field" placeholder="Email"
          value="<?php if($student->email): print($student->email); endif; ?>" title="E-mail должен быть в формате name@site.com." required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['byear']): ?> has-error <?php endif; ?>">
        <label for="byear_field">Год рождения</label>
        <input type="number" class="form-control" name="byear_field" id="byear_field" placeholder="Год рождения"
            value="<?php if($student->byear): print($student->byear); endif; ?>"
            min="1900" max="2000" title="Год рождения должен быть не меньше 1900 и не больше 2000." required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="location_field">Локация</label>
        <select class="form-control" name="status_field" id="location_field">
          <option value="nonresident" "<?php if($student->status == 'nonresident'): ?> selected <?php endif; ?>">Приезжий</option>
          <option value="resident" "<?php if($student->status == 'resident'): ?> selected <?php endif; ?>">Иногородний</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 <?php if($error['rating']): ?> has-error <?php endif; ?>">
        <label for="rating_field">Балы ЕГЭ</label>
          <input type="number" name="rating_field" class="form-control" id="rating_field" placeholder="ЕГЭ"
            value="<?php if(isset($student->rating)): print($student->rating); endif;  ?>"
            min="0" max="150" title="Баллы должны быть больше 0 и не больше чем 150." required>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Подтвердить</button>
  </form>
</div>
</body>
</html>
