<?php include("header.html") ?>
<div id="content">
    <?php if($error): ?>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка:</span>
            Вы не заполнили поле поиска.
        </div>
    <?php endif; ?>

    <?php if($success): ?>
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
            Информация успешно отредактирована.
        </div>
    <?php endif; ?>

    <?php if($students || $tableHelper->searchPattern != null): ?>
        <form method="get">
            <div class="row" id="search_box">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Поиск</button>
                        </span>
                        <input type="text" name="search" class="form-control"
                        placeholder="Введите запрос для поиска"
                        value="<?= htmlspecialchars($tableHelper->searchPattern) ?>" required>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        </form>
    <?php endif; ?>

    <?php if($students): ?>
        <?php if($tableHelper->searchPattern != null): ?>
            <p class="search-info">Показаны результаты по запросу &laquo;<?= htmlspecialchars($tableHelper->searchPattern) ?>&raquo;</p>
            <p class="search-info" id="text-all"><a href="index.php">Показать все записи</a></p>
        <?php endif; ?>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Список студентов</div>
            <table class="table">
                <tr>
                    <?php foreach($tableHelper->getTableHeader() as $key => $name): ?>
                        <th>
                            <a href="<?= htmlspecialchars($tableHelper->getLinkForSorting($key)) ?>"><?= $name ?></a>
                            <?php if($tableHelper->sortKey == $key): ?>
                                <span class="glyphicon <?= $tableHelper->getGlyphicon() ?>" aria-hidden="true"></span>
                            <?php endif; ?>
                        </th>
                    <?php endforeach; ?>
                </tr>
                <?php foreach($students as $student): ?>
                    <tr>
                        <td><?= htmlspecialchars($student->name) ?></td>
                        <td><?= htmlspecialchars($student->surname) ?></td>
                        <td><?= htmlspecialchars($student->sgroup) ?></td>
                        <td><?= htmlspecialchars($student->rating) ?></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>

        <?php if($pager->getPages() > 1): ?>
            <nav id="table_nav">
                <ul class="pagination pagination-lg">
                    <!-- Page nubmers start !-->
                    <?php for($i = 1; $i <= $pager->getPages(); $i++): ?>
                        <li "<?php if($i == $currentPage): ?> class='active' <?php endif; ?>">
                            <a href="<?= $tableHelper->getLinkForPage($i) ?>">
                                <?= $i ?>
                            </a>
                        </li>
                    <?php endfor; ?>
                    <!-- Page nubmers end !-->
                </ul>
            </nav>
        <?php endif; ?>

    <?php else: ?>
        <h3 class="student-list-message">
            <?php if($tableHelper->searchPattern != null): ?>
                По запросу &laquo;<?= htmlspecialchars($tableHelper->searchPattern) ?>&raquo; не найдено ни одного студента.
            <?php else: ?>
                Список студентов пуст.
            <?php endif; ?>
        </h3>
    <?php endif; ?>
</div>
</body>
</html>